body {
  max-width: 600px;
  margin: 0 auto;
}

.one {
  background: pink;
  border: 4px solid blue;
  /* CHANGE ME */
  padding: 30px;
  margin: 10px;
}

.two {
  background: lightblue;
  border: 4px solid purple;
  /* CHANGE ME */
  margin-bottom: 50px;
}

.three {
  background: peachpuff;
  border: 4px solid brown;
  width: 240px;
  /* CHANGE ME */
  padding: 30px;
  margin-left: 300px;
}